<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Welcome to Task Flow</h1>
      <h3> Une Révolution Collaborative dans la Gestion des Tâches.
         Propulsée par Spring Boot et Angular, cette plateforme innovante simplifie la collaboration 
        et élève le succès des projets grâce à des fonctionnalités avancées et des retours utilisateurs précieux.</h3>
      <a href="task" class="btn-get-started">Get Started</a>
    </div>
  </section>
